/* Defaults */
/* line 2, ../scss/style.scss */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 8, ../scss/style.scss */
a {
  text-decoration: none;
  color: #6d9d3c;
}

/* line 13, ../scss/style.scss */
::selection {
  background-color: #dfedd0 !important;
}

/* END Defaults */
/* clear */
/* line 21, ../scss/style.scss */
.clearing {
  clear: both;
}

/* Group Fix */
/* line 25, ../scss/style.scss */
.group:after {
  visibility: hidden;
  display: block;
  content: "";
  clear: both;
  height: 0;
}

/* line 32, ../scss/style.scss */
* html .group {
  zoom: 1;
}

/* IE6 */
/* line 33, ../scss/style.scss */
*:first-child + html .group {
  zoom: 1;
}

/* IE7 */
/* ENDGroup Fix */
/* line 38, ../scss/style.scss */
html, body {
  height: 100%;
}

/* line 42, ../scss/style.scss */
html {
  background: url(../img/light_wool.png) repeat;
}

/* line 46, ../scss/style.scss */
html {
  margin-left: calc(100vw - 100%);
  margin-right: 0;
}

/* line 51, ../scss/style.scss */
#wrapper {
  position: relative;
  min-height: 100%;
  max-width: 960px;
  margin: 0px auto;
}

/* Scrollbar styling for Webkit*/
/* line 60, ../scss/style.scss */
::-webkit-scrollbar {
  width: 12px;
}

/* line 64, ../scss/style.scss */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: white;
}

/* line 70, ../scss/style.scss */
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
  background-color: #DFEDD0;
}

/* line 75, ../scss/style.scss */
::-webkit-scrollbar-thumb:hover {
  background-color: #ACD373;
}

/* END Scrollbar styling for Webkit*/
/* Hidden details for hotkey use. */
/* line 83, ../scss/style.scss */
.details {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
}
/* line 88, ../scss/style.scss */
.details p {
  max-width: 700px;
  padding: 10px 30px;
  margin-left: 260px;
  font-family: ColaborateLightRegular, Arial, Helvetica, sans-serif;
  font-size: 1em;
  line-height: 1.4em;
  background-color: #dfedd0;
  border: dashed #6d9d3c;
  border-width: 0 1px 1px 1px;
  opacity: 0.7;
}

/* line 104, ../scss/style.scss */
button {
  width: 20px;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px;
  background-color: #dfedd0;
  border: 1px solid #6d9d3c;
}

/* END Hidden details for hotkey use. */
/* Sidebar elements */
/* header, nav, footer */
/* line 120, ../scss/style.scss */
#sidebar {
  position: fixed;
  width: 200px;
  min-height: 100%;
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
}

/* line 131, ../scss/style.scss */
header {
  margin: 40px 0 0 0;
  position: relative;
  z-index: 1;
  background-color: #fff;
}

/* line 138, ../scss/style.scss */
header img {
  display: block;
  margin: 0px auto;
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}

/* line 148, ../scss/style.scss */
header a > img {
  opacity: 0.4;
  -moz-opacity: 0.4;
  filter: alpha(opacity=4);
}

/* line 154, ../scss/style.scss */
header a:hover > img {
  opacity: 1;
  -moz-opacity: 1;
  filter: alpha(opacity=100);
}

/* line 160, ../scss/style.scss */
header h4 {
  display: block;
  margin: 30px 10px;
  text-align: center;
  font-size: 1.4em;
  color: #555;
  font-family: ColaborateLightRegular, Arial, Helvetica, sans-serif;
  font-style: italic;
}

/* line 170, ../scss/style.scss */
nav {
  margin: 60px 0 0 0;
  font-size: 1.2em;
  position: relative;
  z-index: 1;
  background-color: #fff;
}

/* line 182, ../scss/style.scss */
nav a {
  display: block;
  color: #555;
  font-family: ColaborateRegular, Arial, Helvetica, sans-serif;
  margin: 0px 15px 0 15px;
  padding: 10px 0 10px 0;
  border-top: 1px solid #ddd;
  text-indent: 10px;
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}

/* line 198, ../scss/style.scss */
.last {
  border-bottom: 1px solid #ddd;
}

/* line 202, ../scss/style.scss */
nav a:hover {
  text-indent: 90px;
}

/* line 210, ../scss/style.scss */
.nav-links:hover {
  color: #6d9d3c;
  text-shadow: 0 0 0px rgba(0, 0, 0, 0);
}

/* END Blurry text*/
/* line 215, ../scss/style.scss */
#currentpage {
  text-indent: 90px;
  color: #6d9d3c;
  text-shadow: 0 0 0px rgba(0, 0, 0, 0.5);
}

/* line 221, ../scss/style.scss */
footer {
  margin: 0 0 0 15px;
  position: fixed;
  bottom: 20px;
  z-index: 0;
}

/* line 228, ../scss/style.scss */
footer p {
  font-family: ColaborateRegular, Arial, Helvetica, sans-serif;
  font-size: 1em;
  color: #999;
  text-align: center;
  margin: 10px 0 0 0;
}

/* line 236, ../scss/style.scss */
footer ul {
  text-align: center;
}

/* line 240, ../scss/style.scss */
footer li {
  display: inline-block;
}

/* line 244, ../scss/style.scss */
.facebookicon, .twittericon, .linkedinicon, .instagramicon, .githubicon {
  opacity: 0.4;
  -moz-opacity: 0.4;
  filter: alpha(opacity=4);
  display: block;
  width: 32px;
  height: 32px;
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}

/* line 258, ../scss/style.scss */
.facebookicon:hover, .twittericon:hover, .linkedinicon:hover, .instagramicon:hover, .githubicon:hover {
  opacity: 1;
  -moz-opacity: 1;
  filter: alpha(opacity=100);
}

/* line 264, ../scss/style.scss */
.githubicon {
  opacity: 0.5;
  -moz-opacity: 0.5;
  filter: alpha(opacity=5);
  background: url(../img/github-green.png) no-repeat;
}

/* line 270, ../scss/style.scss */
.githubicon:hover {
  background: url(../img/github.png) no-repeat;
}

/* line 274, ../scss/style.scss */
.instagramicon {
  opacity: 0.5;
  -moz-opacity: 0.5;
  filter: alpha(opacity=5);
  background: url(../img/instagram-green.png) no-repeat;
}

/* line 281, ../scss/style.scss */
.instagramicon:hover {
  background: url(../img/instagram.png) no-repeat;
}

/* line 285, ../scss/style.scss */
.linkedinicon {
  background: url(../img/linkedin-green.png) no-repeat;
}

/* line 289, ../scss/style.scss */
.linkedinicon:hover {
  background: url(../img/linkedin.png) no-repeat;
}

/* line 293, ../scss/style.scss */
.twittericon {
  opacity: 0.5;
  -moz-opacity: 0.5;
  filter: alpha(opacity=5);
  background: url(../img/twitter-green.png) no-repeat;
}

/* line 300, ../scss/style.scss */
.twittericon:hover {
  background: url(../img/twitter.png) no-repeat;
}

/* line 304, ../scss/style.scss */
.facebookicon {
  background: url(../img/facebook-green.png) no-repeat;
}

/* line 308, ../scss/style.scss */
.facebookicon:hover {
  background: url(../img/facebook.png) no-repeat;
}

/* END Sidebar elements */
/* Main content area */
/* line 316, ../scss/style.scss */
#content {
  max-width: 760px;
  margin: 0 0 0 200px;
  padding: 90px 0 50px 60px;
  color: #555;
}

/* Main content area */
/* Portfolio page styling */
/* line 328, ../scss/style.scss */
article {
  border: 1px solid #ddd;
  border-width: 1px 0 0 0;
  padding: 10px 0 10px 0;
  clear: both;
}

/* line 335, ../scss/style.scss */
article > a {
  display: block;
  float: left;
  width: 400px;
  height: 300px;
  overflow: hidden;
  margin: 0 40px 20px 0;
  border: 3px solid #dfedd0;
  -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.2);
}

/* line 351, ../scss/style.scss */
.hidden {
  display: none;
}

/* line 355, ../scss/style.scss */
article dl {
  width: 260px;
  float: left;
  color: #555;
  margin: 0 0 30px 0;
}

/* line 362, ../scss/style.scss */
article dl dt {
  font-family: ColaborateRegular, Arial, Helvetica, sans-serif;
  font-size: 1.2em;
  margin: 0 0 15px 0;
  border: 1px solid #ddd;
  border-width: 0 0 1px 1px;
  padding: 0 0 1px 2px;
  display: inline-block;
}

/* line 372, ../scss/style.scss */
article dl dt:nth-of-type(2) {
  margin-top: 25px;
}

/* line 376, ../scss/style.scss */
article dl dd {
  font-family: ColaborateThinRegular, Arial, Helvetica, sans-serif;
  font-size: 1.1em;
  line-height: 1.4em;
  text-indent: 2px;
}

/* line 383, ../scss/style.scss */
article dl dd a, .accordioncontent a {
  font-family: ColaborateRegular, Arial, Helvetica, sans-serif;
  color: #6d9d3c;
  text-indent: 2px;
  line-height: 1.4em;
}

/* END Portfolio page styling */
/* Accordion styling*/
/* line 394, ../scss/style.scss */
.accordionbutton {
  max-width: 100%;
  cursor: pointer;
  clear: both;
}

/* line 399, ../scss/style.scss */
.accordionbutton > span {
  display: block;
  float: right;
}

/* line 403, ../scss/style.scss */
.accordioncontent {
  max-width: 100%;
  font-size: 0.9em;
}

/* line 408, ../scss/style.scss */
.on {
  font-style: italic;
  background-color: #dfedd0;
}

/* line 413, ../scss/style.scss */
.over {
  font-style: italic;
  background-color: #dfedd0;
}

/* END Accordion styling*/
/* Some typography settings */
/* line 422, ../scss/style.scss */
#content h1 {
  font-family: ColaborateRegular, Arial, Helvetica, sans-serif;
  font-size: 2.4em;
  margin: 0 0 60px 0;
}

/* line 428, ../scss/style.scss */
#content h2 {
  font-family: ColaborateMediumRegular, Arial, Helvetica, sans-serif;
  font-size: 1.2em;
  line-height: 1.4em;
  margin: 0 0 30px 0;
}

/* line 435, ../scss/style.scss */
#content h3 {
  font-family: ColaborateRegular, Arial, Helvetica, sans-serif;
  font-size: 1.2em;
  line-height: 1.4em;
}

/* line 441, ../scss/style.scss */
#content p {
  font-family: ColaborateLightRegular, Arial, Helvetica, sans-serif;
  font-size: 1.2em;
  line-height: 1.4em;
  margin: 10px 0;
}

/* line 448, ../scss/style.scss */
#content a:hover {
  text-decoration: underline;
}

/* line 452, ../scss/style.scss */
.italicparagraph {
  font-family: ColaborateLightRegular, Arial, Helvetica, sans-serif;
  font-size: 1.2em;
  line-height: 1.4em;
  font-style: italic;
}

/* line 459, ../scss/style.scss */
.homepageparagraph {
  margin: 40px 0 0 0 !important;
  padding: 0 0 0 20px;
}

/* line 464, ../scss/style.scss */
.arrow {
  font-size: 1.4em;
}

/* END Some typography settings */
/* Contact form */
/* line 472, ../scss/style.scss */
.contactformbutton input[type="submit"] {
  background: url(../contact/contact_files/img/email.png) no-repeat 0% 50%;
  border: 1px;
  border-color: #0C0;
  text-indent: 35px;
  padding: 10px 8px;
  cursor: pointer;
  opacity: 0.6;
  -moz-opacity: 0.6;
  filter: alpha(opacity=6);
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}

/* line 489, ../scss/style.scss */
.contactformbutton input[type="submit"]:hover {
  opacity: 1;
  -moz-opacity: 1;
  filter: alpha(opacity=1);
}

/* line 495, ../scss/style.scss */
.contactformbutton input[type="reset"] {
  background: url(../contact/contact_files/img/error.png) no-repeat 0% 50%;
  border: 1px;
  border-color: #0C0;
  text-indent: 32px;
  padding: 10px 8px;
  cursor: pointer;
  opacity: 0.5;
  -moz-opacity: 0.5;
  filter: alpha(opacity=5);
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}

/* line 512, ../scss/style.scss */
.contactformbutton input[type="reset"]:hover {
  opacity: 1;
  -moz-opacity: 1;
  filter: alpha(opacity=1);
}

/* line 518, ../scss/style.scss */
.contactformbutton input, .contactformbutton textarea, .contactformbutton select {
  border: 1px solid #add65b;
}

/* line 519, ../scss/style.scss */
.contactformbutton input[type="radio"] {
  border: none;
}

/* line 520, ../scss/style.scss */
.contactformbutton input:focus, .contactformbutton textarea:focus {
  border: 1px dashed #add65b;
}

/* line 521, ../scss/style.scss */
.contactformbutton input.error, .contactformbutton textarea.error {
  border: 1px dashed #F93;
}

/* line 522, ../scss/style.scss */
form.contactme label {
  display: inline-block;
  width: 120px;
  line-height: 1.8em;
  vertical-align: top;
  cursor: hand;
  color: #555;
}

/*-------------------------------------------------------------------*/
/* line 536, ../scss/style.scss */
fieldset {
  width: auto;
  border: 1px solid #ddd;
  border-width: 1px 0 1px 0;
}

/* line 542, ../scss/style.scss */
legEND {
  font-family: ColaborateMediumRegular, Arial, Helvetica, sans-serif;
  font-size: 1.2em;
}

/* line 547, ../scss/style.scss */
label {
  font-size: 1em;
}

/* line 551, ../scss/style.scss */
label.error {
  font-size: 0.8em;
  color: #df5b00 !important;
}

/* line 556, ../scss/style.scss */
input, textarea {
  font-family: ColaborateLightRegular, Arial, Helvetica, sans-serif;
  font-size: 1em;
  color: #555;
  margin: 0 20px 0 0;
}

/* line 563, ../scss/style.scss */
#fname, #email {
  width: 300px;
}

/* line 567, ../scss/style.scss */
#captcha {
  width: 30px;
  margin-bottom: 20px;
}

/* line 572, ../scss/style.scss */
textarea {
  width: 300px;
  height: 120px;
}

/* line 577, ../scss/style.scss */
#results {
  font-family: ColaborateLightRegular, Arial, Helvetica, sans-serif;
  font-size: 1em;
  margin: 10px 0;
}

/* END Contact form */
/* Homepage image styling */
/* line 587, ../scss/style.scss */
.myface {
  display: block;
  opacity: 0.8;
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}

/* Add image caption - by Chris Coyier */
/* http://css-tricks.com/slide-in-image-captions/ */
/* line 599, ../scss/style.scss */
figure {
  float: right;
  display: block;
  position: relative;
  overflow: hidden;
  margin: 0 0 30px 30px;
  border: 2px solid #dfedd0;
}

/* line 609, ../scss/style.scss */
figcaption {
  font-family: ColaborateLightRegular, Arial, Helvetica, sans-serif;
  font-size: 1.2em;
  position: absolute;
  background: rgba(0, 0, 0, 0.75);
  color: white;
  padding: 10px 20px;
  width: 100%;
  opacity: 0;
  bottom: 0;
  left: -30%;
  -webkit-transition: all 600ms ease;
  -moz-transition: all 600ms ease;
  -ms-transition: all 600ms ease;
  -o-transition: all 600ms ease;
  transition: all 600ms ease;
}

/* line 628, ../scss/style.scss */
figure:hover figcaption {
  opacity: 1;
  left: 0;
}

/* line 632, ../scss/style.scss */
.cap-bot figcaption {
  left: 0;
  bottom: -30%;
}

/* line 633, ../scss/style.scss */
.cap-bot:hover figcaption {
  bottom: 0;
}

/* line 634, ../scss/style.scss */
.cap-bot:hover .myface {
  opacity: 1;
}

/* line 635, ../scss/style.scss */
.cap-bot:before {
  bottom: 10px;
  right: 10px;
}

/* line 636, ../scss/style.scss */
figure:before {
  content: "i";
  position: absolute;
  background: rgba(223, 237, 208, 0.75);
  color: black;
  width: 24px;
  height: 24px;
  border: 1px solid black;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  text-align: center;
  font-family: ColaborateBoldRegular, Arial, Helvetica, sans-serif;
  font-size: 1.2em;
  line-height: 1.4em;
  /* Only Fx 4 supporting transitions on psuedo elements so far... */
  -webkit-transition: all 600ms ease;
  -moz-transition: all 600ms ease;
  -ms-transition: all 600ms ease;
  -o-transition: all 600ms ease;
  transition: all 600ms ease;
  opacity: 1;
}

/* line 659, ../scss/style.scss */
figure:hover:before {
  opacity: 0;
}

/* END Homepage image styling */
/* Playful text effects */
/* line 667, ../scss/style.scss */
.effects {
  display: inline-block;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
}

/* line 677, ../scss/style.scss */
.effects:hover {
  -moz-transform: scale(1) rotate(0deg) translate(0px, -7px) skew(0deg, 0deg);
  -webkit-transform: scale(1) rotate(0deg) translate(0px, -7px) skew(0deg, 0deg);
  -o-transform: scale(1) rotate(0deg) translate(0px, -7px) skew(0deg, 0deg);
  -ms-transform: scale(1) rotate(0deg) translate(0px, -7px) skew(0deg, 0deg);
  transform: scale(1) rotate(0deg) translate(0px, -7px) skew(0deg, 0deg);
  color: #6d9d3c;
}

/* END Playful text effects */
